
<div class="container-fluid nopadding" >
  <div class="row" style="height:100vh">
  <div class="col-md-6 nopadding">
    <img src="/assets/register.jpg" alt="Avatar" >
    <div class="middle-container">
    <div class="middle">
    <h2>Register</h2>
    <p>Please register in order to use the system</p>
    <button type="button" class="btn btn-success" [routerLink]="['/register']">Register</button>
  </div>
  </div>
</div>
  <div class="col-md-6 nopadding">
    <img src="/assets/login.jpg" alt="Avatar" >
    <div class="middle-container">
    <div class="middle">
    <h2>Login</h2>
    <p>Login in order to be able to create surveys</p>
    <button type="button" class="btn btn-success" [routerLink]="['/login']">Login</button>
</div>
</div>
</div>
</div>
</div>
